
.catalogo ul {
    display: flex;
    font-family: var(--font-title);
    font-size: 13px;
    font-weight: 700;
    color: white;
    margin-top: -150px;
    /*uso esto y no se ve igual*/
    max-width: 1200px;
    justify-content: left;
    align-items: start;
    gap: 40px;
    margin-bottom: 20px;
    padding-left: 159px;
    padding-right: 159px;
}

.catalogo-trailers {
    /*posicionamiento de para poder poner las letras sobre la imagen*/
    position: relative;
    background-color: #f2f2f2;
}

.catalogo-trailers img {
    background-image: linear-gradient(to top, #000 0%, transparent 30%), url();
}

.catalogo-trailers article {
    display: flex;
    margin-inline: auto;
    max-width: 1200px;
}

.catalogo-trailers h3 {
    font-family: var(--font-title);
    font-size: 17px;
    font-weight: 700;
    color: white;
    position: absolute;
    justify-content: left;
    margin-left: 1%;
    bottom: 15%;
}

.catalogo-trailers a {
    font-family: var(--font-text);
    font-size: 12px;
    font-weight: lighter;
    color: #bdbdbd;
    ;
    position: absolute;
    margin-left: 1%;
    bottom: 10%;
}
