
.catalogo ul {
    display: flex;
    font-family: var(--font-title);
    font-size: 13px;
    font-weight: 700;
    color: white;
    margin-top: -150px;
    /*uso esto y no se ve igual*/
    max-width: 1200px;
    justify-content: left;
    align-items: start;
    gap: 40px;
    margin-bottom: 20px;
    padding-left: 159px;
    padding-right: 159px;
}

