.header {
    display: flex;
    /*flex header*/
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    height: 80px;
    margin-inline: auto;
    /*centrar con margenes para que se reparta todo parejo*/
    max-width: 1200px;
    /*ancho max que el lememento puede tener, puso pequeña la barra del header */
    color: white;
    text-transform: uppercase;
    /*poner mayuscula*/
    fill: white;
    font-family: var(--font-title);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0, 08px;
    /*ojo repasar lo de las fuentes relativas la multiplicacion*/
  
}

.header svg /*ajuste de svg redes sociales*/
    {
    width: 20px;
    height: 20px;
}

.header .main-menu ul

/*flex menu pricipal*/
    {
    display: flex;
    gap: 40px;
    position: relative;
        /*¿Por qué el gap no me funciona en el .heard pricipal y debo agregarlo a cada clase?*/
}
.header .main-menu li{
    position: relative;
}
.header .main-menu li::after{
content: "/";
position: absolute;
background-color: #1a1d24;
right: -20px;
}
.header .main-menu li a::after{
    content: "/";
    position: absolute;
    background-color: #1a1d24;
    right: -20px;
    }
.header .main-menu {
position: relative;
}
.header .main-menu li a::before {
    position: absolute;
    content: " ";
    width:0;
    height:1px;
    background-color: var(--background-color3);
    top: 100%;
    transition:step-start 0.1s
}
.header .main-menu li a:hover::before { 
  width: 50%; 
  left: 23%; 
  }

.header .tools-menu

/*flex menu herramientas pricipal*/
    {
    display: flex;
    gap: 40px;
}

.header .tools-menu ul

/*flex menu redes*/
    {
    display: flex;
    gap: 40px;
}


.bg-main  {
    z-index: 1000;
}

.bg-main  {
    top: 0px;
    position: sticky;
     }
    