.news-release {
    display: flex;
    position: relative;
    margin-inline: auto;
    /*centrar con margenes para que se reparta todo parejo*/
    max-width: 1200px;
}
.news-release img {
    object-fit:none;/*la use para mantener el aspecto natual de la imagen*/
    object-position: 65%
}
.news-release .release {
    position: absolute;
    left: 50%;
    font-family: var(--font-title);
    font-size: 13px;
    font-weight: 700;
    color: #737373;
    max-width: 570px;
}
.linea-roja {
    background-color: var(--background-color3);
    height: 0.5px;
    width: 48px;
    margin-bottom: 34px;
    }
.news-release h3 {
    font-family: var(--font-title);
    font-size: 37px;
    font-weight: 700;
    color: #1a1d24;
    margin-top: 25px;
    margin-bottom: 19.3px
}
.news-release .cadena-temporada {
    display: flex;
    gap: 40px;
    font-family: var(--font-title);
    font-size: 13px;
    font-weight: 700;
    color:#1a1d24;
    margin-bottom: 29.6px;
}
.news-release .samurai {
    font-family: var(--font-text);
    font-size: 15px;
    font-weight:400;
    color: #737373;
}

.news-release .news-release-footer{
    display: flex;
    font-family: var(--font-title);
    font-size: 13px;
    font-weight: 700;
    margin-top: 36.8px;
    margin-bottom: 100px;
}
.news-release .More-information {
   
   color: #e0011a;

}
.news-release .watch-trailers {
    color: #1a1d24;
    margin-left: 36.4px;
}