.opiniones {
    width: 1519px;
    height: 511px;
    background-color: var(--background-color3);
    display: flex;
    margin: 0px; /*z index debo usarlo y no -margin*/
    margin-inline: auto;
}

.opiniones img {

    margin-top: 20%;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--background-color3);

}