
body .opiniones{
  background-color: var(--background-color3);
  margin: -5px;
}
.opiniones .tamaño-opiniones {
  max-width: 1200px;
  margin-inline: auto;
  overflow: hidden;
}
.opiniones .flex-de-opiniones {
  
  display: flex;
  margin: 10%;
  gap: 10px;
  
}
    
 .opiniones .article-opinion {
    
 width: 330px;
 height: 260px;
 color: white;
 flex: 0 0 350px;
}
 .opiniones .imagen-opinion {
width: 105px;
height: 105px;
border-radius: 50%;
overflow: hidden;
margin-left: 35%;
margin-bottom: 30px;
}
.article-opinion {
position: relative;
align-items: center;
} 
.article-opinion ::before {
position: absolute;
content:"";
background-color: black;
right: 46%;
bottom: 53%;
border-radius: 50%;
height: 34px;
width: 34px;
}
.imagen-comillas {
width: 16px;
height: 16px;
margin-top: -135px;
margin-left: -195px;  /**/
  
}
.opiniones .texto-opiniones {
  font-family: 'lora';
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  
  }
   .opiniones .nombre-reseñas {
  font-family: var(--font-title);
  font-size: 13px;
  font-weight:700;
  text-align: center;
  margin-top: 10px;
     
  }
   .opiniones .film-expert {
  font-family: var(--font-text);
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
  margin-top: 8px;
   }
 
 

    



   