
.recent-trailers .catalogo-menu ul{
    display: flex;
    font-family: var(--font-title);
    font-size: 13px;
    font-weight: 700;
    color: white;
    margin-top: -150px;
    /*uso esto y no se ve igual*/
    max-width: 1200px;
    margin-inline: auto;
    gap: 40px;
    margin-bottom: 20px;
    padding-left: 159px;
    padding-right: 159px;
    }

.catalogo-trailers article {
    display: flex;
    margin-inline: auto;
    max-width: 1200px;
    gap: 20px;
    position: relative;
    margin-bottom: 80px;
    z-index: 1;
    }
       
.catalogo-trailers div {
    position: absolute;
    padding: 18.4px;
    justify-content: left;
    bottom: 0;
    }
.catalogo-trailers h3 {
    font-family: var(--font-title);
    font-size: 17px;
    font-weight: 700;
    color: white;
    }
.catalogo-trailers a {
    font-family: var(--font-text);
    font-size: 12px;
    font-weight: lighter;
    color: #bdbdbd; 
    }
    
    /*COMO PONER EL FONDO GRIS POR Q SI LO COLOCO SE PONE COMPLETO Y BAJA EL CATALOGO De TRILERS*/
    