:root {
    --font-text: 'Roboto', sans-serif;
    --font-title: 'Roboto Condensed', sans-serif; 
    --background-color: #1a1d24;
    --background-color2:#f2f2f2 ;
    --background-color3: #e0011a;
    --background-color4: #abb8c3;
    --background-color5: #737373;
    --background-color6:#8b8b8b ;
    --background-color7:#cf2e2e ;
    --background-color8:#f8b350 ;
}
*:where(:not(html, iframe, canvas, img, svg, video, audio) :not(svg *, symbol *)) {
    all: unset;
    display: revert;
}
body {
    margin: 0;
}

html /*fuente*/
    {
    font-family: var(--font-text);
}/*al cargar las fuentes en html debo cerrar / el link*/

li/* sirve para quitar puntos a las listas*/
    {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}/*con esto hago que todas las imagenes se adapten al tamaño de su padre*/
body .bg-main /*div y clase creado para hacer una capa de fondo del header y sea del mismo*/
    {
    background-color: #1a1d24
}

.aside-botton .bestseller {
    position: fixed;
    bottom: 10%;
    right: -15%;
}
.aside-botton .buy {
    position: fixed;
    bottom: 20.5%;
    right: -15%;
}
.aside-botton .hide-panel {
    position: fixed;
    bottom: 0%;
    right: -15%;
}
html { 
    scroll-behavior: smooth;
}

.up {
    position: fixed;
    bottom: -32%;
    right: -11%;
    margin: 0;
    }