.trailers {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    filter: brightness(95%); 
     }
.


















.trailers .nombre-pelicula {
    font-family: var(--font-title);
    font-size: 27px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin: 35px;
    padding-left: 28px;
    padding-top: 16px;
    opacity: 100%;
    transition: top 0.7s;
    }
  .acceso{
        opacity: 0;
        transition:  0.7s;
    }

.trailers .nombre-pelicula:hover {
    top: 30%;
     }

     .contain-img:hover + .acceso{
        display: block;
        opacity: 1;
     }
.trailers .nombre-pelicula::before{
    }
.trailers  .clasificacion {
    font-family: var(--font-text);
    font-size: 12px;
    font-weight: 300;
    color: #bdbdbd;
    margin-left:  35px;
    margin-top: 35px;
    display: flex;
    gap: 10px;
    opacity: 100%;
    transition: 0.3s;
    }
.trailers  .clasificacion:hover {
    color: white;
     }                              /*no funciona este hover*/
.trailers .acceso {
    display: flex;
    gap: 90px;
    font-family: var(--font-title);
    font-size: 11px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin: 40px;
    padding-bottom: 50px;
    
}
.acceso .whatch {
    position: relative;
    opacity: 100%;
    transition: 0.3s;
     }
    
.trailers .whatch:hover {
    color: var(--background-color6);
}
.acceso .whatch::before {
}
.acceso .informacion {
    position: relative;
    opacity: 100%;
    transition: 0.3s;
     }
    
.trailers .informacion:hover {
    color: var(--background-color6);
}
.acceso .informacion::before {
}

/*ALGO ESTA MAL CON EL ::BEFORE botton y righ de locos*/
